:root {
    --fontClr: #09090b;
    --lightGold: #da9d33;
    --darkGold: #8b6521;
    --dotDate: #75541a;
    --bgClr: rgba(107, 107, 107, 0.466);
    --darkGrey: #2d2d38;
    --pageclr: #eee;
    --pageShw: #0000002c;
    --border: #09090b54;
    --borderClr: rgba(43, 43, 43, 0.6);
}
/* ------------------- GENERALITES ------------------- */
body {
    background: var(--bgClr);
    min-height: 100vh;
    color: var(--fontClr);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
i, h3 {
    color: var(--darkGold);
}
h3 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    color: var(--fontClr);
}
a:focus, a:hover {
    color: var(--lightGold);
}
li {
    list-style: none;
}
.techno {
    font-style: italic;
}
/* ------------------- PAGE PRINCIPALE ------------------- */
.blocpage {
    display: grid;
    background: var(--pageclr);
    max-width: 86rem;
    margin: 2rem auto;
    padding: 2rem 1rem;
    grid-template-columns: 1fr 1.7fr;
    grid-auto-rows: minmax(20rem, auto);
    box-shadow: .5rem -.5rem 3rem .5rem var(--pageShw);
    border-radius: .2rem;
    border: .1rem solid var(--borderClr);
}

/* ------------------- PHOTO & INFOS------------------- */
.blocface {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    padding: .6rem;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--darkGold);
    border-radius: 50%;
}
.face {
    width: 15rem;
    height: 15rem;
    border: 1px solid var(--fontClr);
    border-radius: 50%;
    background-image: url("../img/face_wip_2.jpg");
    background-size: 125%;
    background-repeat: no-repeat;
    background-position-x: -1.7rem;
    background-position-y: -1rem;
}
.coordonnees {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    margin: 3rem 0;
    font-size: 1.4rem;
}
.coordonnees i {
    padding-bottom: .8rem;
}
.adresse, .telephone, .liens, .mobile {
    border-top: .1rem solid var(--border);
    padding: 1rem 0; 
    margin: 0 5rem;
}
.liens {
    border-bottom: .1rem solid var(--border);
}
.liens a {
    padding: 0 1rem;
    font-style: italic;
}
.liens a:focus, .liens a :hover {
    color: var(--lightGold);
}
/* ------------------- A PROPOS DE MOI ------------------- */
.projet {
    grid-column: 1;
    grid-row: 3;
}
.projet h3 {
    padding-left: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.projet p {
    padding: 1.5rem 3rem;
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 2.2rem;
    font-size: 1.4rem;
}
.projet a {
    font-style: italic;
}

/* ------------------- CODES ET LOGICIELS ------------------- */
.competences {
    grid-column: 2;
    grid-row: 4;
}
.competences h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.competences h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
}
.competences ul {
    padding: .3rem 0 0 .3rem;
    margin-bottom: 0;
}
.competences li {
    font-size: 1.4rem;
}
.codes, .logiciels, .langues {
    float: left;
    padding: 1.5rem 0 2.8rem 3rem;
}
.codes, .logiciels {
    padding-right: .5rem;
}

/* ------------------- TITRE ET RECHERCHE ------------------- */
.titre {
    grid-column: 2;
    grid-row: 1;
    margin-right: 3rem;
    padding-top: 2rem;
}
.titre h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 3.2rem;
}
.titre h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-bottom: 1.2rem;
    font-size: 2rem;
}
.titre p {
    padding: 1.2rem 0 3rem 0; 
    text-align: justify;
    font-style: italic;
    font-size: 1.3rem;
    border-top: .1rem solid var(--border);
    line-height: 1.8rem;
}

/* ------------------- FORMATIONS/EXPERIENCES/DIPLOMES ------------------- */
.experiences {
    grid-column: 2;
    grid-row: 3;
}
.diplomes {
    grid-column: 2;
    grid-row: 2;
}
.experiences h3, .diplomes h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.experiences ul, .diplomes ul {
    padding: 1.5rem 3rem;
}
.bloc_list {
    margin-bottom: 1.5rem;
}
.bloc_list:nth-last-child() {
    margin-bottom: 0;
}
.diplomes ul, .experiences ul {
    position: relative;
}
.diplomes ul::before, .experiences ul::before {
    content: '';
    width: .1rem;
    height: 85%;
    background: #09090b1e;
    position: absolute;
    top: 2.2rem;
    left: 2.2rem;
}
.date {
    position: relative;
    font-size: 1.4rem;
}
.date::before {
    position: absolute;
    content: '';
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    top: .7rem;
    left: -1rem;
    background: var(--dotDate);
}
.poste {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}
.location {
    font-style: italic;
    font-size: 1.2rem;
}
.description {
    font-size: 1.4rem;
}
/* ------------------- HOBBIES ------------------- */
.interets {
    grid-column: 1;
    grid-row: 4;
}
.interets h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
}
.interets i {
    font-size: 2.4rem;
    background-repeat: round;
    background: linear-gradient(90deg, var(--dotDate), var(--darkGrey));
    -webkit-background-clip: text;
    background-size: 110%;
    -webkit-text-fill-color: transparent;
    padding-right: 1rem;
}
.interets i:nth-child(4) {
    padding-right: 0;
}
.img_interets {
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
}

/* -------------------------------- MEDIA -------------------------------- */
/* -------------------------------- QUERRIES -------------------------------- */
@media screen and (max-width: 38rem) {
    .blocpage {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(20rem, auto);
        margin: 0;
    }
/* ------------------- PHOTO ------------------- */
    .blocface {
        grid-column: 1;
        grid-row: 1;
        padding: .5rem;
        border: .1rem solid #8b6521;
    }
    .face {
        width: 15rem;
        height: 15rem;
        border: .1rem solid #09090b;
    }
/* ------------------- COORDONNEES ------------------- */
    .coordonnees {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        margin: .5rem 0 3rem 0;
    }
    .coordonnees i {
        padding-bottom: .8rem;
    }
    .adresse, .telephone, .liens {
        border-top: .1rem solid var(--border);
        padding: 1rem 0; 
        margin: 0 3rem;
    }
    .liens a {
        padding-right: 1rem;
        font-style: italic;
    }
    .liens a:nth-child(1) {
        padding-right: 0;
    }

/* ------------------- PROJET ------------------- */
    .projet {
        grid-column: 1;
        grid-row: 4;
    }
    .projet p {
        font-size: 1.4rem;
        letter-spacing: 0;
    }
/* ------------------- CODES, LOGICIELS ET LANGAGES ------------------- */
    .competences {
        grid-column: 1;
        grid-row: 7;
        margin-bottom: 2rem;
    }
    .competences h3 {
        letter-spacing: 0;
        margin: 0 3rem;
    }
    .competences h4 {
        font-size: 1.2rem;
    }
    .competences li {
        font-size: 1.2rem;
    }
    .codes, .logiciels, .langues {
        padding: 1.5rem 0 0 3rem;
    }
    .codes, .logiciels {
        padding-right: 1rem;
    }
    
/* ------------------- TITRE ------------------- */
    .titre {
        grid-column: 1;
        grid-row: 2;
        padding-top: .5rem;
        width: 100%;
    }
    .titre h1 {
        text-align: center;
        font-size: 2.4rem;
    }
    .titre h3 {
        font-size: 1.6rem;
        text-align: center;
    }
    .titre p {
        padding: 1.2rem 0 .8rem 0; 
        font-size: 1.4rem;
        margin: 1.2rem 3rem 0 3rem;
    }
/* ------------------- EXPERIENCES ET DIPLOMES ------------------- */
    .experiences {
        grid-column: 1;
        grid-row: 6;
    }
    .diplomes {
        grid-column: 1;
        grid-row: 5;
    }
    .experiences h3, .diplomes h3 {
        letter-spacing: 0;
        padding: 0 3rem;
    }
    .experiences ul, .diplomes ul {
        padding: 1.5rem 3.8rem;
    }
    .diplomes ul::before, .experiences ul::before {
        left: 3rem;
    }
    .poste {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .description {
        font-size: 1.2rem;
    }
    .date {
        letter-spacing: .1rem;
    }
/* ------------------- INTERETS ------------------- */
    .interets {
        grid-column: 1;
        grid-row: 8;
    }
    .interets h3 {
        letter-spacing: 0;
        margin-bottom: 2rem;
    }
}
